.button {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;

  text-transform: uppercase;
  letter-spacing: -0.5px;

  background-color: $button-back;
  border: 1px solid transparent;
  border-radius: $border-radius;
  cursor: pointer;

  @include font_plex(20px, 24px, 700, $font-white);
}
